* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

a,
button {
  transition: 0.3s;
}
a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 360px) {
  p {
    font-size: 16px * 0.75;
  }

  h1 {
    font-size: 2em * 1;
  }

  h2 {
    font-size: 2em * 0.875;
  }

  h3 {
    font-size: 2em * 0.75;
  }

  h4 {
    font-size: 2em * 0.65;
  }

  h5,
  h6 {
    font-size: 2em * 0.6;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  p {
    font-size: 16px * 0.875;
  }

  h1 {
    font-size: 2em * 1.25;
  }

  h2 {
    font-size: 2em * 1.1;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 2em * 0.875;
  }

  h5,
  h6 {
    font-size: 2em * 0.75;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  p {
    font-size: 16px * 1;
  }

  h1 {
    font-size: 2em * 1.5;
  }

  h2 {
    font-size: 2em * 1.25;
  }

  h3 {
    font-size: 2em * 1.1;
  }

  h4 {
    font-size: 2em * 1;
  }

  h5,
  h6 {
    font-size: 2em * 0.875;
  }
}

@media (min-width: 769px) {
  p {
    font-size: 16px * 1.125;
  }

  h1 {
    font-size: 2em * 2;
  }

  h2 {
    font-size: 2em * 1.75;
  }

  h3 {
    font-size: 2em * 1.5;
  }

  h4 {
    font-size: 2em * 1.25;
  }

  h5,
  h6 {
    font-size: 2em * 1;
  }

  /*-----------------
DropDownMenuStyle
  -----------------*/

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .Msg-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: Popup 0.5s ease-in-out 1;
    z-index: 10;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: #000000c7;
    animation: opacity-animation 0.1s;
  }
  /*-----------------
Animations
  -----------------*/

  @keyframes opacity-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
